# Fichero: .htaccess
# Autor: Lucía Díaz Murcia
# Descripción: Dirige la ruta REST /mediciones al controlador PHP.
# Fecha: 2026-09-25
# Copyright (c) 2026 Lucía Díaz Murcia
RewriteEngine On
RewriteRule ^mediciones$ rest/mediciones.php [L]
